<!-- templates/index.html -->

{% extends "base.html" %}
{% block title %} Welcome {% endblock%}
{% block content %}


<div class="column is-4 is-offset-4">
    <h1 class="title">Welcome to A2Z Book Store</h1>
  <h3 class="title">Login</h3>
  <h4 class="subtitle">{{ message }}</h4>
  <div class="box">
      <form method="POST" action="{{ url_for('login')}}">
          <div class="field">
              <div class="control">
                  <input class="input is-large" type="text" name="username" placeholder="Your username" autofocus="" required>
              </div>
          </div>

          <div class="field">
              <div class="control">
                  <input class="input is-large" type="password" name="password" placeholder="Your Password" required>
              </div>
          </div>
          <button class="button is-block is-info is-large is-fullwidth">Login</button>
      </form>
  </div>
</div>
<!-- 
<h1 class="title">
  Welcome to los libros, books.
</h1>
<h2 class="subtitle">
    Reseñas de libros, World of Books, You will find thousands of book review, we hope you find a book that you can enjoy <br> Reader are leaders 
</h2>-->
{% endblock %}

